---

---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16 lg:gap-24">
      <div class="grid gap-16 lg:grid-cols-2 lg:gap-24 items-start">
        <img
          class="mx-auto h-auto w-full max-w-xl rounded-3xl lg:sticky lg:top-8"
          width="576"
          height="864"
          src="/assets/about.webp"
          alt="Our experts working together"
        />
        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="m-0">
              <h2 class="text-3xl font-medium tracking-tight sm:text-4xl m-0 leading-none">Dr. Stefanie West</h2>
              <p class="text-sm italic m-0 leading-none">Bachelor of Health Science (Chinese Medicine) | Diploma of Remedial Massage</p>
            </div>
            <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              With over 13 years of expertise in alternative therapy, Stefanie West is a dedicated and compassionate, and registered doctor of Chinese medicine. Her journey began with a passion for healing through remedial massage therapy, a field where she honed her skills and deepened her understanding of the body’s complexities. However, her desire to provide more comprehensive care inspired her to expand her expertise, leading her to the transformative path of Chinese medicine.            
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Stefanie’s commitment to this ancient practice was sparked by her personal experience with the profound benefits of acupuncture and her curiosity to explore the therapeutic power of herbal medicine. She often refers to the “little witch” within her—a playful nod to her passion for crafting herbal remedies and harnessing the natural elements to restore balance and health.            
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              A devoted mum to a lively daughter, Stefanie understands firsthand the fine art of balance in life, a value she brings into her practice. Drawing from her extensive background in remedial therapy and her Chinese medicine studies, she views healing not as a sprint but as a marathon—a journey that requires patience, care, and a holistic understanding of the body.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Stefanie’s special interest lies in musculoskeletal health, a focus deeply rooted in her extensive background as a manual therapist. She takes great pride in helping people of all ages and with varying degrees of pain and physical conditions experience transformative progress in their journey toward health. Stefanie also has a passion for supporting mental health, drawing on her understanding of balance both as a practitioner and in her personal life. She believes that mental health forms the root of our overall well-being, grounding the body in harmony and enabling true healing to take place. Through her holistic approach, Stefanie integrates these elements of manual therapy and Chinese medicine practices to help patients achieve balance and vitality in their lives.            
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              As the founder of Roots of Wellness Acupuncture & Chinese Medicine, Stefanie’s approach is rooted in balance, much like the philosophy of Chinese medicine itself. Her work emphasizes the importance of addressing the root cause of conditions to help patients achieve lasting health and wellness. This ethos inspired the name of her clinic, highlighting her belief in nurturing both the "root of qi" within the body and the healing potential found in nature’s roots.            
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Stefanie welcomes you to experience the transformative power of Chinese medicine at Roots of Wellness, where every treatment is thoughtfully tailored to support your journey to optimal health.            
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
