<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          At Roots of Wellness, we focus on nurturing the root of your health by combining the transformative power of acupuncture, the precision of manual therapy, and the wisdom of Chinese medicine by balancing the body’s energy (qi), addressing the root causes of imbalances, and harnessing the power of plant-based medicine to restore harmony and vitality. Together, we’ll embark on a holistic journey to help you achieve lasting wellness.<br><br>

          Our serene clinic offers a safe and welcoming space where you can find relief from pain, reduce stress, and restore harmony to your body and mind. Whether you're seeking support for specific health concerns or looking to maintain overall wellness, our tailored treatments are designed to help you thrive.
          Chinese medicine is a versatile system known to support a wide range of conditions. By understanding your unique health pattern, I create a tailored treatment plan designed to enhance your overall well-being.
        </p>
        <a
          href="/about"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Read more...
        </a>
      </div>
    </div>
  </div>
</section>
